@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  background: #575756;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .leftSide {
  position: relative;
  background: #f3d9cf;
  padding: 40px;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.profileText .imgBox {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileText h2 {
  color: #b07f6b;
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
  line-height: 1.4em;
}

.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.contactInfo {
  padding-top: 40px;
}

.title {
  color: #575756;
  font-size: 1.5em;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
  border-bottom: 1px solid #777;
}

.contactInfo ul {
  position: relative;
}

.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contactInfo ul li a {
  text-decoration: none;
}

.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #b07f6b;
}

.contactInfo ul li span {
  color: #575756;
  font-weight: 300;
}

.contactInfo.education li {
  margin-bottom: 15px;
}

.contactInfo.education h5 {
  color: #b07f6b;
  font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
  color: #575756;
  font-weight: 500;
}
.contactInfo.education h4 {
  color: #575756;
  font-weight: 300;
}

.contactInfo.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: #d6b699;
  display: block;
  margin-top: 5px;
}

.contactInfo.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #b07f6b;
}

/* right */
.container .rightSide {
  position: relative;
  background: #fff;
  padding: 40px;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  font-size: 1.8em;
  font-family: 'Caveat', cursive;
  font-weight: 500;
  color: #b07f6b;
  border-bottom: 1px solid #d6b699;
  letter-spacing: 1px;
}
p {
  color: #777;
  font-weight: 300;
  margin-top: 20px;
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .box .yearCompany {
  min-width: 180px;
}

.about .box .yearCompany h5 {
  font-weight: 400;
  color: #aaa;
}

.about .box .text h4 {
  color: #b07f6b;
  font-size: 16px;
  font-weight: 500;
}

.about .box .text p {
  font-weight: 300;
  color: #777;
  margin-top: 0;
}

.skills .box {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}

.skillAll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills .box ul li {
  list-style: none;
  color:#777;
}

.skills .box h4 {
  color:#b07f6b;
  font-weight: 500;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #f0f0f0;
}

.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #b07f6b;
}

.portfolio .portfolioAll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portfolio .portfolioAll .box {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* padding: 0 1rem 0 0; */
}

.portfolio .portfolioAll .box:nth-child(odd) {
  padding-right: 1rem;
}

.portfolio .portfolioAll h4 {
  color: #b07f6b;
}

.portfolio .portfolioAll p {
  margin-top: 0;
  color: #666;
}

.portfolio .portfolioAll ul li {
  list-style: none;
  color: #777;
}

.portfolio .portfolioAll .material-icons {
  font-size: .2rem;
  line-height: .8rem;
}

.portfolio .portfolioAll img {
  width: 100%;
  margin-top: .8rem;
}

/* media */
@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio .portfolioAll {
    display: flex;
    flex-direction: row;
  }
  
  .portfolio .portfolioAll .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 .5rem;
  }
}

@media (max-width: 600px) {
  .about .box {
    flex-direction: column;
  }
  .about .box .yearCompany {
    margin-bottom: 5px;
  }

  .skillAll {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio .portfolioAll {
    display: flex;
    flex-direction: column;
  }

  .portfolio .portfolioAll .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 .5rem;
  }
}
